@import url("https://use.typekit.net/oov2wcw.css");

html { 
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  user-select: none; /* treats text as image */
  background-color: #fff0db;
}

h1 {
  font-size: 3.6vw;
  text-align: center;
}

p {
  font-size: 3vw;
  margin: 0px;
}

input {
  border-style: hidden;
  border-bottom: 2px dashed grey;
  letter-spacing: 4px;
  outline-color: white;
  background: white;
  font-size: 3vw;
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
}

input:hover {
  background-color: aliceblue;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 30%;
  border: 25px solid turquoise;
  padding: 0px 2% 2.5%;
  border-radius: 10%;
}

.ord {
  font-size: 4.3vw;
  text-align: center;
}

#calculate {
  border: 5px solid lightskyblue;
  font-size: 2.5vw;
  border-radius: 10%;
}

#calculate:hover {
  cursor: pointer; /* change cursor to hand ptr */
  background-color: white;
}
